<%  if current_user.owner%>
  <div class="top_container">
  </div>
  <div class="container text-center">
    <h2><strong>Add your bar:</strong></h2>

    <%= render 'form' %>
  </div>
<% else %>
  redirect to root_path
<% end %>





