<%  if current_user.owner%>
  <div class="top_container">
  </div>
  <div class="container">
    <h2>Post a bar:</h2>

    <%= render 'form' %>
  </div>
<% else %>
  redirect to root_path
<% end %>





