<%# <div class="footer">
  <div class="box">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
  </div>

  <!-- <div class="box">
    <div class="footer-logo">
      <img src="https://imagizer.imageshack.com/img922/2089/6PYv26.png">
    </div>
  </div> -->

  <div class="box">
    <div class="footer-copyright"> Use Happy Hour for Happy Moments  <i class="fas fa-beer"></i>
    </div>
  </div>
</div> %>

<div class="bottom-toolbar">  
  <i class="fas fa-home btn btn-home"></i>
  <i class="fas fa-map-marked-alt btn btn-map"></i>
  <i class="fas fa-plus btn btn-add"></i>
</div>

