<div class="footer">
  <div class="box">
      <a href="#"><i class="fab fa-purple fa-instagram"></i></a>
      <a href="#"><i class="fab fa-purple fa-facebook"></i></a>
      <a href="#"><i class="fab fa-purple fa-twitter"></i></a>
  </div>

  <!-- <div class="box">
    <div class="footer-logo">
      <img src="https://imagizer.imageshack.com/img922/2089/6PYv26.png">
    </div>
  </div> -->

  <div class="box">
    <div class="footer-copyright"> Use Happy Hour for Happy Moments   <i class="fas fa-beer" style="color: #F18F01;"></i>
    </div>
  </div>
</div>

<<div class="bottom-toolbar">
  <%if #current_user.owner?%>  
    <a href="/"><i class="fas fa-home btn btn-home rounded-circle"></i></a>
    <a href="/dashboard"><i class="fas fa-tachometer-alt btn btn-map rounded-circle"></i></a>
    <a href="/bars/new"><i class="fas fa-plus btn btn-add rounded-circle"></i></a>
  <%else%>
    <a href="/"><i class="fas fa-home btn btn-home rounded-circle"></i></a>
    <a href="/map"><i class="fas fa-map-marked-alt btn btn-map rounded-circle"></i></a>
    <a href="/bars/new"><i class="fas fa-plus btn btn-add rounded-circle"></i></a>
  <%end%>
</div>

