
<div class="container">
  <h1 class="title-offers">Choose your subscription plan:</h1>
    <div class ="row">
      <%@subscriptions.each do |subscription|%>

            <div class="card-offer">
              </div>
              <div class="card-desc">
                <h2><%= subscription.name %></h2>

                <p><%=subscription.description%></p>
                <p><%= subscription.premium %></p>
              </div>
              <%=link_to "Book", "/orders?subscription_id=#{subscription.id}", method: :post, class: "card-link col-12 col-md-6 col-lg-4 mt-4" %>
              <%end%>
            </div>


</div>
