
<div class="container">
  <h1 class="title-offers">Choose your subscription plan:</h1>
    <div class ="row">
      <%@subscriptions.each do |subscription|%>

            <div class="card-offer card-subscription">
              <div class="circle"></div>
                <h2><%= subscription.name %></h2>
                <p><%=subscription.description%></p>
              <%=link_to "Book", "/orders?subscription_id=#{subscription.id}", method: :post, class: "btn button-dark" %>
            </div>
          <%end%>
        </div>


</div>
