.badge-offer {
  padding: 3px 15px;
  background-color: $purple;
  border-radius: 45px;
  font-size: 13px;
}
p#countdown.badge-show{
  position: absolute;
  font-size: 16px;
  top: 15px;
  left: 15px;
}
