// .card-trip {
//   overflow: hidden;
//   box-shadow: 0 0 10rpx rgba(0,0,0,0.2);
//   border-radius: 5px;
//   &:hover{
//     opacity: 0.8;
//   }
//   img{
//   height: 200px;
//   width: 100%;
//   object-fit: cover;
//   }
//   h2{
//   font-size: 20px;
//   font-weight: bold;
//   margin: 0;
//   }
//   p{
//   font-size: 12px;
//   opacity: .7;
//   margin: 0;
//   }
// }

// .card-trip .card-trip-infos {
//   padding: 16px;
//   display: flex;
//   justify-content: space-between;
//   align-items: center;
//   position: relative;
// }

// .card-trip-pricing {
//   min-width: 60px;
// }

.fa-cocktail {
  color: #6CBDB7;
  margin-right: 5px;;
}

.city-info {
  margin-top: 8px;
  font-size: 16px;
  display: flex;
  #text {
    color: rgba(0, 0, 0, 0.2);
  }
}


// .services-info {
//   display: flex;
//   text-align: center;
//   padding-bottom: 20px;
//   .fas {
//     font-size: 20px;
//     color: #6CBDB7;
//   }
// }


@media (max-width: 700px) {
  .services-info {
    flex-wrap: wrap;
  }
}

.card-link{
  color: white;

  // &:hover{
  // text-decoration: none !important;
  // color: rgba(0, 0, 0, 0.8);
  // opacity: 0.8;
// }

  &:hover{
  text-decoration: none !important;
  color: white;
}

}

.card-link + .card-link {
  margin-left: 0;
}



.card-image-category {
  padding: 10px 20px 140px 10px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  border-radius: 8px 8px 20px 20px ;
  background-position: center;
  background-size: cover;
  p {
    color: white;
  }
  .fa-heart:before {
    color:white;
    font-size: 20px;
  }
  .fa-heart:hover {
    color:red;
    font-size: 20px;
  }
}
.card-desc {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
  align-items: baseline;
  flex-direction: column;


  h2 {
    font-size: 20px;
    font-weight: 800;
    color: white;
    opacity: 0.9;
  }

.fa-clock:before {
  font-size: 15px;
}
}

.card-offer {
  border-radius: 5px;
  background: #1f1f1f;
  box-shadow: 2px 2px 10px #141414, -5px -5px 20px #2a2a2a;
  transition: transform 0.5s;
  &:hover {
    transition: all .2s ease-in-out;
    transform: scale(1.05);
  }
}

p#countdown.end-time-index {
  font-size: 14px;
  position: unset;
  color: white;
  z-index: 1000;
}

.header-show {
  margin-top: 8px;
}

.offer-show {
  font-size: 20px;
}

.info-show {
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0.7;
}

.card-subscription{
  margin-bottom: 20px;
  text-align: center;
  align-items: center;
  padding: 25px;
}

@media screen and (max-width: 740px) {
  .scrolling-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;

    .card-link {
      display: inline-block;
      width: 85%;
    }
  }
  .info-show {
    align-items: baseline;
    margin-top: 18px;
  }
}
.p-cards{
  color: rgba(255,255,255,0.5);
}
.right{
  height: 1rem;
}
.twothird{
  width: 60%;
  padding: 5px;
}
.ownthird{
  width: 40%;
  padding: 5px;
}
.mapboxgl-canvas {
  height: 100vh;
}

.card-map {
  border-radius: 5px;
  background: #1f1f1f;
  box-shadow: 2px 2px 10px #141414, -5px -5px 20px #2a2a2a;
  &:hover{
    text-decoration: none !important;
    color: white;
  }
}

.card-desc-map {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  border-radius: 50px;
  position: relative;
  align-items: baseline;
  flex-direction: column;


  h2 {
    font-size: 15px;
    font-weight: 800;
    color: white;
    opacity: 0.9;
  }

  &:hover a {
    h2 {
      text-decoration: none;
    }
    p {
      text-decoration: none;
    }
  }

.fa-clock:before {
  font-size: 15px;
}
}

.card-offer-map {
  border-radius: 5px;
  background: #1f1f1f;
  box-shadow: 2px 2px 10px #141414, -5px -5px 20px #2a2a2a;
}


.active-sub {
  border: 1px solid $purple;
}

