.footer {
  background: #F4F4F4;
  display: flex;
  justify-content: space-between;
  height: 120px;
  padding: 0px 50px;
  color: rgba(0,0,0,0.3);
  border-top: 1px solid #e2e2e2;
  margin-top: 30px;
}


.footer .fa-heart {
  color: #D23333;
}

.footer-logo img {
  max-width: 80px;
  opacity: .6;
}

.box{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  a{
  margin: 10px;
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
  }
}

.box a:hover {
  opacity: .9;
}
