@media screen and (max-width: 600px) {
  .image-homepage {
    width:100%;
  }
  .lead{
    font-size: 16px;
  }
}
.gradient{
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0.30), rgba(255, 255, 255, 0.30));
}
