.simple_form {
  width: 50%;
  margin: 0 auto;
}

.form-control{
  border-radius: 5px;
  background: #1f1f1f;
  // box-shadow:  12px 12px 14px #0c0c0c;
  //             -12px -12px 14px #323232;
  padding: 5px 10px;
  border: none;
  border: 1px solid #3F3D56;
}
