.simple_form {
  width: 50%;
  margin: 0 auto;
}

.search-dark {
  border-radius: 20px;
  background: #1f1f1f;
  box-shadow:  12px 12px 24px #0c0c0c, 
              -12px -12px 24px #323232;
  padding: 4px 10px;
}
