.h1-homepage {
  font-size: 3.2rem;
  margin-bottom: 30px;
}

#h1-show {
  border-bottom: 1px solid white;
  width:40%;
}

@media screen and (max-width: 740px) {
  .title-offers {
    font-size: 22px;
    margin-top: 35px;
    text-align: center;
    display: block;
  }
  #h1-show {
    width: 100%;
    font-size: 38px;
  }
}
