.toggle-button {
  margin: 0 auto;
  position: relative;
  max-width: 80px;
  width: 100%;
  height: 14px;
  background-color: white;
  border-radius: 20px;
  .ball {
    $radius: 36px;
    height: $radius;
    width: $radius;
    border-radius: 50%;
    background-color: $purple;
    margin: 0 auto 0 0;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 10%;
    transition: all .4s;
    overflow: hidden;
    &.active {
      left: calc(90% - #{$radius})
    }
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.toggler-section {
  width: 100%;
  margin-bottom: 120px;
  .element {
    display: none;
    width: 100%;
    // &.left {
    //   text-align: right;
    //   margin-right: 2px;
    // }
    &.active {
      display: block;
    }
    &.mid {
      opacity: 1;
      max-width: 80px;
    }
    // &.left {
    //   margin-left: 2px;
    // }
    .title {
      font-size: 0.5em;
      @include media-breakpoint-up(sm) {
        font-size: 0.8em;
      }
      padding-left: 1em;
      padding-right: 0.5em;
    }
  }
}
.toggle-head{
  font-size: 16px;
  border: 1px solid white;
  border-radius: 2px;
  padding: 5px 10px;
  opacity: 0.6;
  width:200px;
  text-align: center;
  margin: 0px 10px;
  &.opacity {
  opacity: 1;
  transition: 0.5s;
  }
}
.mid{
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

@media screen and (min-width: 740px) {
  .mid {
    width: 30%;
    margin: 0 auto;
    padding: 0px;
  }
}

.explanation {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
