// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import 'mapbox-gl/dist/mapbox-gl';
@import "flatpickr/dist/flatpickr";


// Your CSS partials
@import "components/index";
@import "pages/index";


.base-settings{
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}
.jumbotron {
  background-size: cover;
  background-color: #1f1f1f;
  background-position-x: center;
  background-position-y: 40%;
  color: white;
  // padding-top: 40vh;
  top:0;
}
.top_container{
  height: 80px;
}
.container{
  width: 80%;
}

@media screen and (max-width: 740px) {
  .container {
    width: 90%;
  }
}

body {
  // background: linear-gradient(115deg, rgba(31,31,31,1) 0%, rgba(56,56,56,1) 50%, rgba(64,64,64,1) 100%);
  background: #1f1f1f;
}

main {
  padding: 0px 20px;
}
